<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  <body style="background-color: {{ $bg1 }}; color: {{ $textColor1 }};">
    {{ partial "head.html" . }}
  </body>
    {{ $aboutTitle := "About" }}
    {{if (eq .Title $aboutTitle) }}
        {{ $bg2 := .Site.Data.Settings.primary_color}}
        {{ $textColor2 := .Site.Data.Settings.text_color}}
        <body style="background-color: {{ $bg2 }}; color: {{ $textColor2 }};">
            {{ partial "header.html" . }}
            {{ block "main" . }}{{ end }}
        </body>
    {{ else }}
        {{ $bg1 := .Site.Data.Settings.colors.main_back}}
        {{ $textColor1 := .Site.Data.Settings.colors.main_font}}
        <body style="background-color: {{ $bg1 }}; color: {{ $textColor1 }};">
            {{ partial "header.html" . }}
            {{ block "main" . }}{{ end }}
        </body>
    {{ end }}
</html>
